<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>Home Page</header>
<main>
    <h2>Welcome!</h2>
    <p th:text="'반가워, ' + ${#authentication.name} + '!'"></p>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a th:href="@{/admin}">관리자 페이지로 이동</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</main>
<footer>© 2024 Tris UMC</footer>
</body>
</html>